<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--静态资源放行-->
    <mvc:default-servlet-handler/>
    <!--开启 mvc 注解-->
    <mvc:annotation-driven/>

    <!--这里的 扫描不能写在配置类上, 不然会有 404-->
    <context:component-scan base-package="com.huadiao">
        <context:exclude-filter type="regex" expression=".*elasticsearch.*"/>
    </context:component-scan>

    <!--拦截器-->
    <mvc:interceptors>
        <!--登录验证-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/common/**"/>
            <mvc:exclude-mapping path="/note/get"/>
            <mvc:exclude-mapping path="/note/all"/>
            <mvc:exclude-mapping path="/search/user/**"/>
            <mvc:exclude-mapping path="/search/note/**"/>
            <mvc:exclude-mapping path="/forum/**"/>
            <mvc:exclude-mapping path="/userinfo"/>
            <mvc:exclude-mapping path="/homepage/info"/>
            <mvc:exclude-mapping path="/huadiaohouse/info"/>
            <bean class="com.huadiao.interceptor.LoginCheckInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/common/**"/>
            <mvc:exclude-mapping path="/note/get"/>
            <mvc:exclude-mapping path="/note/all"/>
            <mvc:exclude-mapping path="/userinfo"/>
            <mvc:exclude-mapping path="/homepage/info"/>
            <mvc:exclude-mapping path="/huadiaohouse/info"/>
            <mvc:exclude-mapping path="/forum/**"/>
            <bean class="com.huadiao.interceptor.CsrfCheckInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>

