<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
">

    <context:property-placeholder location="classpath:huadiao.properties,classpath:dev/huadiao.properties"/>

    <import resource="classpath:redis-spring-config.xml"/>
    <import resource="classpath:mysql-spring-config.xml"/>

    <aop:config proxy-target-class="true"/>

    <!--文件解析器, 依赖 common-fileupload jar包, 在 springmvc 中, 文件解析器名称固定-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>