<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huadiao.mapper.HomepageMapper">

    <!--添加访问记录-->
    <insert id="insertVisitRecordByUid">
        insert into huadiao_homepage_visit(`uid`, `viewed_uid`)
        values (#{uid}, #{viewedUid})
        on duplicate key update `visit_time` = now(),
                                `status`     = 1;
    </insert>

    <!--修改用户头像-->
    <update id="updateUserAvatarByUid">
        update huadiao_homepage
        set `user_avatar`        = #{userAvatar},
            `avatar_change_date` = now()
        where `uid` = #{uid};
    </update>

    <!--修改个人主页背景-->
    <update id="updateHomepageBackgroundByUid">
        update huadiao_homepage
        set `homepage_background`    = #{homepageBackground},
            `background_change_date` = now()
        where `uid` = #{uid};
    </update>

    <resultMap id="homepageInfoResultMap" type="com.huadiao.entity.homepage.HomepageInfo">
        <result property="userAvatar" column="user_avatar"/>
        <result property="pageBackground" column="homepage_background"/>
        <result property="visitCount" column="visit_count"/>
        <result property="uid" column="uid"/>
    </resultMap>
    <!--获取个人主页部分信息-->
    <select id="selectHomepageInfoByUid" resultMap="homepageInfoResultMap">
        select t1.uid, `user_avatar`, `homepage_background`, count(*) as `visit_count`
        from huadiao_homepage t1
                 left join huadiao_homepage_visit t2 on t1.uid = t2.uid and t2.status
        where t1.uid = #{uid};
    </select>


</mapper>