<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huadiao.mapper.NoteStarMapper">

    <!--新增或者再次收藏笔记-->
    <insert id="insertNoteStar">
        insert into huadiao_note_star(`uid`, `author_uid`, `note_id`, `status`)
        values (#{uid}, #{authorUid}, #{noteId}, 1)
        on duplicate key update `status` = 1;
    </insert>

    <!--删除笔记收藏-->
    <update id="deleteNoteStar">
        update huadiao_note_star
        set `status` = 0
        where `uid` = #{uid}
          and `note_id` = #{noteId}
          and `author_uid` = #{authorUid};
    </update>

    <!--获取笔记收藏数量-->
    <select id="countNoteStarByUid" resultType="java.lang.Integer">
        select count(1)
        from huadiao_note_star
        where `uid` = #{uid}
          and `status` = 1;
    </select>
</mapper>