<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huadiao.mapper.SystemMessageMapper">

    <!--新增系统消息-->
    <insert id="insertSystemMessage">
        insert into huadiao_system_message(`message_id`, `message_title`, `message_content`, `form`, `admin_id`)
        values (#{messageId}, #{messageTitle}, #{messageContent}, #{form}, #{adminId});
    </insert>

    <!--新增用户最新的已读消息-->
    <insert id="insertLatestSystemMessage">
        insert into huadiao_system_latest_message(`message_id`, `uid`)
        values (#{messageId}, #{uid});
    </insert>

    <!--删除消息-->
    <delete id="deleteSystemMessage">
        delete
        from huadiao_system_message
        where `message_id` = #{messageId};
    </delete>

    <!--删除用户已读的最近一条消息-->
    <delete id="deleteLatestSystemMessage">
        delete
        from huadiao_system_latest_message
        where `uid` = #{uid}
    </delete>

    <resultMap id="systemMessageResultMap" type="com.huadiao.entity.message.system.SystemMessage">
        <result property="messageId" column="message_id"/>
        <result property="messageTitle" column="message_title"/>
        <result property="messageContent" column="message_content"/>
        <result property="form" column="form"/>
        <result property="sendTime" column="send_time"/>
    </resultMap>
    <!--获取系统消息-->
    <select id="selectSystemMessage" resultMap="systemMessageResultMap">
        select `message_id`, `message_content`, `message_title`, `send_time`, `form`
        from huadiao_system_message
        where `id` >= (select `id` from huadiao_system_message limit #{offset}, 1)
        order by `send_time` desc
        limit #{row};
    </select>

    <!--获取未读消息数-->
    <select id="countUnreadMessage" resultType="java.lang.Integer">
        select count(*)
        from huadiao_system_message t1
                 left join huadiao_system_latest_message t2 on `uid` = #{uid}
        where t2.`message_id` is null
           or t1.`id` > (select `id` from huadiao_system_message t3 where t3.`message_id` = t2.`message_id`)
    </select>
</mapper>