<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huadiao.mapper.UserMapper">

    <!--更新用户登录时间-->
    <update id="updateUserLatestLoginTime">
        update huadiao_login_register
        set `latest_login_time` = now()
        where `uid` = #{uid};
    </update>

    <resultMap id="userBaseInfoDtoResultMap" type="com.huadiao.entity.dto.user.UserBaseDto">
        <result property="uid" column="uid"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
    </resultMap>

    <!--通过用户名和密码来获取用户-->
    <select id="selectUserByUsernameAndPassword" resultMap="userBaseInfoDtoResultMap">
        select `uid`, `user_id`, `username`
        from huadiao_user_base
        where `username` = #{username}
          and `password` = MD5(#{password});
    </select>

    <!--添加新用户-->
    <insert id="insertNewHuadiaoUser">
        insert into huadiao_user_base(`uid`, `user_id`, `username`, `password`)
        values (#{uid}, #{userId}, #{username}, MD5(#{password}));
    </insert>

    <!-- 新增第三方用户 -->
    <insert id="insertOauthUser">
        insert into huadiao_user_base(`uid`, `user_id`, `oauth_id`, `login_type`, `access_token`, `account_type`)
        values (#{user.uid}, #{user.userId}, #{user.oauthId}, #{user.loginType}, #{user.accessToken}, #{user.accountType});
    </insert>

    <select id="selectUidByUserId" resultType="java.lang.Integer">
        select `uid`
        from huadiao_user_base
        where `user_id` = #{userId};
    </select>

    <!--根据用户 uid 获取 userId-->
    <select id="selectUserIdByUid" resultType="java.lang.String">
        select `user_id`
        from huadiao_user_base
        where `uid` = #{uid};
    </select>

    <!--通过用户名查找用户-->
    <select id="selectUserByUsername" resultMap="userBaseInfoDtoResultMap">
        select `uid`, `user_id`, `username`
        from huadiao_user_base
        where `username` = #{username};
    </select>

    <resultMap id="userShareDtoResultMap" type="com.huadiao.entity.dto.user.UserShareDto">
        <result property="uid" column="uid"/>
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="userAvatar" column="user_avatar"/>
        <result property="sex" column="sex"/>
    </resultMap>
    <!--通过 uid 获取用户共享信息-->
    <select id="selectUserShareDtoByUid" resultMap="userShareDtoResultMap">
        select t1.`uid`, `user_id`, `nickname`, `user_avatar`, `sex`
        from huadiao_user_info t1
                 left join huadiao_user_base t2 on t1.uid = t2.uid
                 left join huadiao_homepage t3 on t1.uid = t3.uid
        where t1.uid = #{uid};
    </select>

    <!--获取用户数量-->
    <select id="countAllUser" resultType="java.lang.Integer">
        select count(*) from huadiao_user_base;
    </select>

    <resultMap id="selectOAuthUserExistResultMap" type="com.huadiao.entity.dto.user.UserShareDto">
        <result property="uid" column="uid"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <!-- 查找第三方用户是否存在 -->
    <select id="selectOAuthUserExist" resultMap="selectOAuthUserExistResultMap">
        select `uid`, `user_id` from huadiao_user_base where `oauth_id` = #{oauthId} and `login_type` = #{oauthType};
    </select>


</mapper>